<!--header start-->
 <header class="header black-bg">
     <div class="sidebar-toggle-box">
       <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
     </div>
   <!--logo start-->
   <a href="index.html" class="logo"><b>Survey Feeedback</b></a>
   <!--logo end-->
   <!-- Logout Section start -->
         <div class="top-menu">
           <ul class="nav pull-right top-menu">
                 <li><a class="logout" href="index.html">Logout</a></li>
           </ul>
         </div>
   <!-- Logout Section ends -->
 </header>
 <!--header end-->
