<!-- Side Bar Start -->
<aside>
	<div id="sidebar" class="nav-collapse">
		<!-- sidebar menu start-->
		<ul class="sidebar-menu" id="nav-accordion">
			<li class="mt">
				<!-- MarginTop --> <a href="index.jsp"> <i class="fa fa-home"></i>
					<span>Home</span>
			</a>
			</li>
			<li><a href="#/aboutUs"> <i class="fa fa-user"></i> <span>About
						Us</span>
			</a></li>
			<li><a href="#/contactUs"> <i class="fa fa-envelope"></i> <span>Contact
						Us</span>
			</a></li>
			<li><a href="#/login"> <i class="fa fa-sign-in"></i> <span>Login</span>
			</a></li>
			<li><a href="#/signup"> <i class="fa fa-users"></i> <span>Sign
						Up</span>
			</a></li>
		</ul>
		<!-- sidebar menu end-->
	</div>
</aside>
<!--sidebar end-->
<!-- About us -->
<section id="main-content">
	<section class="wrapper mb">
		<div class="col-lg-11">
			<div class="form-panel page-bg">
				<p class="mt ml">
				<h1 class="theme-color">About Us</h1>
				</p>
				<div class="row">
					<div class=" col-lg-12">
						<p>
							<b><h2>Its Oky to make a mess, experiments can lead to
									beautiful things.</h2></b>
						</p>
					</div>
				</div>
				<div class="row mt">
					<div class="col-lg-6 col-md-6">
						<p class="responsive-fonts">Everybody wants to grow and for a
							growth they need opinion, views, suggestion, feedback. Our team
							worked in the direction to meet all these requirements. Survey
							Feedback is meant to ask (many) people a question or a series of
							questions in order to gather information about what most people
							do or think about something. It is a series of questions aimed at
							extracting specific data from a particular group of people.
							Surveys may be conducted by phone, mail, via the Internet, and
							sometimes face-to-face on busy street corners or in malls. Survey
							research is often used to assess thoughts, opinions, and
							feelings. Conducting surveys seems simple enough: ask people
							questions, record their answers, and report the results. Even
							Roman Emperors polled their citizens in ancient times. Any survey
							helps companies, organizations and individuals alike to gather
							the insights they need to make more smart,informed decisions. The
							Internet has become a powerful method of gathering information
							from consumers; voice recognition software allows businesses to
							offer rewards to consumers who call in to respond to surveys
							throughout the day.</p>
					</div>
					<div class="col-lg-6 col-md-6">
						<img src="assets/img/brainstorming.jpg"
							class="img-responsive img-border" />
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12">
						<p class="responsive-fonts">Survey Feedback is ideal for
							anyone who needs to collect valuable information from customers,
							visitors or employees efficiently. It is a project intended for
							creating a survey of any kind, answering the questions asked in
							survey and viewing survey reports.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>


