<!-- Side Bar Start -->
<aside>
          <div id="sidebar"  class="nav-collapse">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
                  <li class="mt">  <!-- MarginTop -->
                      <a href="index.jsp">
                          <i class="fa fa-home"></i>
                          <span>Home</span>
                      </a>
                  </li>
				  <li>
                      <a href="index.jsp">
                          <i class="fa fa-user"></i>
                          <span>About Us</span>
                      </a>
                  </li>
				  <li>
                      <a href="index.jsp">
                          <i class="fa fa-envelope"></i>
                          <span>Contact Us</span>
                      </a>
                  </li>
				  <li>
                      <a href="#/login">
                          <i class="fa fa-sign-in"></i>
                          <span>Login</span>
                      </a>
                  </li>
				  <li>
                      <a href="#/signup">
                          <i class="fa fa-users"></i>
                          <span>Sign Up</span>
                      </a>
                  </li>
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->

<div id="aboutUs-page">
	  	<div class="container">
			<div class="login-alignment"> <!-- Align the form div -->
		      <form class="form-signup" action="#/signup">
		        <h2 class="form-signup-heading">sign up now</h2>
		        <div class="signup-wrap">
		            <p>
		            	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
		            </p>

		         
		        </div>
		      </form>
			</div>
	  	</div>
	  </div>
