<section id="main-content" class ="site-margin-bottom" ng-controller="questionController">
  <section class="wrapper site-min-height ">
    <h3>
      <i class="fa fa-angle-right"></i> Add Questions
    </h3>
    <div class="row mt">
      <div class="col-lg-11">
        <div class="form-panel">
          <h4 class="mb">
            <i class="fa fa-angle-right"></i> Survey details
          </h4>
          <div class="form-horizontal style-form">
            <div class="form-group">
              <label class="col-sm-2 control-label">Question</label>
              <div class="col-sm-10 col-lg-8">
                <input type="text" class="form-control" ng-model="question.questionText">
              </div>
            </div>
            <div class="form-group" >
              <div class="input select required">
                <label class="col-sm-2 control-label" for="QuestionType">Type *</label>
                <div class="col-sm-10 col-lg-3 col-md-3">
                    <select class ="form-control"
                      ng-model="question.questionType" id="QuestionType" required="required">
                      <option value="">Select Type</option>
                      <option value="radio">Multiple choice-Single answer</option>
                      <option value="checkbox">Mulitiple choice-Multiple answer</option>
                      <option value="text">text</option>
  
                    </select>
              </div>
            </div>
              <br />
              <br />
              <br />
        <div class="row">
              <div class="col-lg-2"></div>

          <div class="col-lg-8">
              <div ng-if= 'question.questionType=="checkbox" || question.questionType=="radio" '>
                <fieldset data-ng-repeat="option in options">
                  <input type="text" class="form-control" ng-model="options[$index].optionText" name=""
                    placeholder="Add option">
                  <button class="remove" ng-show="$last"
                    ng-click="removeOption()">-</button>
                </fieldset>
                <button class="addfields" ng-click="addNewOption()">Add
                  fields</button>
              </div>
        </div>
      </div>
            </div>
          </div>

        </div>

      </div>

    </div>
    <div>
      <button type="button"
        class="btn btn-theme04 mL btn-font btn-padding">
        <span class="glyphicon glyphicon-chevron-left icon-font"></span>
        Back
      </button>
      <button type="button" ng-click="addNewQuestion()"
        class="btn btn-theme03 mL btn-font btn-padding">
        Next <span class="glyphicon glyphicon-chevron-right icon-font"></span>
      </button>
    </div>
  </section>
</section>
