<!--Admin's Dashboard view-->
						<section id="main-content">
						 <section class="wrapper">
						   <!-- <div class="container "> -->
						     <div class="row">
						         <div class="col-lg-8 col-lg-offset-2">
						             <div class="row mt ">
						                 <div class="col-md-4 col-sm-4 mb mt">
						                     <div class="white-panel pn">
						                         <div class="white-header">
						                             <h4>TOTAL SURVEYS</h5>
						                         </div>
						                         <div class="row">
						                             <div class="col-sm-6 col-xs-6 goleft">
						                                 <p>
						                                     content
						                                   </p>
						                             </div>
						                             <div class="col-sm-6 col-xs-6"></div>
						                         </div>
						                         <div class="centered">
						                             <!-- <img src="assets/img/product.png" width="120"> -->
						                         </div>
						                     </div>
						                 </div>
						                 <!-- /col-md-4 -->

						                 <div class="col-md-4 col-sm-4 mb mt">
						                     <div class="white-panel pn ">
						                         <div class="white-header">
						                             <h4>TOTAL USERS</h5>
						                         </div>
						                         <div class="row">
						                             <div class="col-sm-6 col-xs-6 goleft">
						                                 <p>
						                                     <i class="fa fa-heart"></i>
						                                     122
						                                   </p>
						                             </div>
						                             <div class="col-sm-6 col-xs-6"></div>
						                         </div>
						                         <div class="centered">
						                             <!-- <img src="assets/img/product.png" width="120"> -->
						                         </div>
						                     </div>
						                 </div>
						                 <!-- /col-md-4 -->

						                 <div class="col-md-4 col-sm-4 mb mt">
						                     <div class="white-panel pn">
						                         <div class="white-header">
						                             <h4>TOTAL RESPONDERS</h4>
						                         </div>
						                         <div class="row">
						                             <div class="col-sm-6 col-xs-6 goleft">
						                                 <p>
						                                     <i class="fa fa-heart"></i>
						                                     122
						                                   </p>
						                             </div>
						                             <div class="col-sm-6 col-xs-6"></div>
						                         </div>
						                         <div class="centered">
						                             <!-- <img src="assets/img/product.png" width="120"> -->
						                         </div>
						                     </div>
						                 </div>
						                 <!-- /col-md-4 -->
						             </div>
						         </div>
						     </div>
						   <!-- </div> -->
						 </section>
						</section>
