<!--Admin's Dashboard view-->
<section id="main-content">
 <section class="wrapper mt">
   <h3 class="mt mb">
       <i class="fa fa-angle-right"></i>
      Dashboard
     </h3>
       <div class="mt mb">
         <div class="row mt">
           <a href="#">
             <div class="col-lg-4">
               <div id="totalSurveyPanel" class="panel panel-size">
                 <div class="panel-heading">
                   <div class="row">
                     <div class="col-xs-3">
                       <i class="fa fa-spinner fa-spin fa-5x fa-fw" aria-hidden="true"></i>
                     </div>
                     <div class="col-xs-9 text-right">
                       <div class="huge">26</div>
                       <div class="label-font">Total Surveys</div>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </a>
           <a href="#">
             <div class="col-lg-4">
               <div id="membersPanel" class="panel panel-size">
                 <div class="panel-heading">
                   <div class="row">
                     <div class="col-xs-3">
                       <i class="fa fa-users fa-flip-horizontal fa-5x" aria-hidden="true"></i>
                     </div>
                     <div class="col-xs-9 text-right">
                       <div class="huge">27</div>
                       <div class="label-font">Total Surveyor</div>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </a>
           <a href="#">
             <div class="col-lg-4">
               <div id="responderPanel" class="panel panel-size">
                 <div class="panel-heading">
                   <div class="row">
                     <div class="col-xs-3">
                       <i class="fa fa-user-plus fa-5x" aria-hidden="true"></i>
                     </div>
                     <div class="col-xs-9 text-right">
                       <div class="huge">74</div>
                       <div class="label-font">Total Responders</div>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </a>
         </div>
         <!-- /.row -->
					<div class="row mt">
						<div class="col-lg-4 mb">
							<div class="pn grey-panel message-box ">
								<div class="grey-header">
									<h5>
										<i class="fa fa-pencil-square-o" ></i> Design your Survey
									</h5>
								</div>
								<div class="row">
									<div class="col-sm-12 col-xs-12 goleft">
										<p class="text-font">
										Design the page as per your need. Pick from our wide range of question types to get 
										the best results .
										</p>
									</div>
								</div>
							</div>
							<!--/grey-panel -->
						</div>
						<div class="col-lg-4 mb">
							<div class="pn grey-panel message-box ">
								<div class="grey-header">
									<h5>
										<i class="fa fa-users" ></i> Pick your Audience
									</h5>
								</div>
								<div class="row">
									<div class="col-sm-12 col-xs-12 goleft">
										<p class="text-font">
										We help us you to reach your audiences and bring their valuable responses to enhance 
										your output for your future growth.
										</p>
									</div>
								</div>
							</div>
							<!--/grey-panel -->
						</div>
						<div class="col-lg-4 mb">
							<div class=" pn grey-panel message-box ">
								<div class="grey-header">
									<h5>
										<i class="fa fa-bar-chart" ></i> Analyze your Survey
									</h5>
								</div>
								<div class="row">
									<div class="col-sm-12 col-xs-12 goleft">
										<p class="text-font">
											We help to gather and analyze the crucial facts and figures with a precision that no other can provide  
										</p>
									</div>
								</div>
							</div>
							<!--/grey-panel -->
						</div>	
					</div>
				</div>
       </div><!-- mb mt -->		
 </section>
</section>