<!--Admin's Dashboard view-->
<section id="main-content">
 <section class="wrapper mt">
   <h3 class="mt mb">
       <i class="fa fa-angle-right"></i>
      Dashboard
     </h3>
       <div class="mb">
         <div class="row mt">
           <a href="#">
             <div class="col-lg-4">
               <div id="totalSurveyPanel" class="panel">
                 <div class="panel-heading">
                   <div class="row">
                     <div class="col-xs-3">
                       <i class="fa fa-spinner fa-spin fa-5x fa-fw" aria-hidden="true"></i>
                     </div>
                     <div class="col-xs-9 text-right">
                       <div class="huge">26</div>
                       <div class="label-font">Total Surveys</div>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </a>
           <a href="#">
             <div class="col-lg-4">
               <div id="membersPanel" class="panel">
                 <div class="panel-heading">
                   <div class="row">
                     <div class="col-xs-3">
                       <i class="fa fa-users fa-flip-horizontal fa-5x" aria-hidden="true"></i>
                     </div>
                     <div class="col-xs-9 text-right">
                       <div class="huge">27</div>
                       <div class="label-font">Total Surveyor</div>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </a>
           <a href="#">
             <div class="col-lg-4">
               <div id="responderPanel" class="panel">
                 <div class="panel-heading">
                   <div class="row">
                     <div class="col-xs-3">
                       <i class="fa fa-user-plus fa-5x" aria-hidden="true"></i>
                     </div>
                     <div class="col-xs-9 text-right">
                       <div class="huge">74</div>
                       <div class="label-font">Total Responders</div>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </a>
         </div>
         <!-- /.row -->
       </div>
 </section>
</section>
