<section id="main-content" ng-controller="surveyController">
	<section class="wrapper">
	<br>
	<div class="pull-right">
					<form class="form-inline">
						<div class="form-group">
							<input type="text" name="keyword" class="form-control" id="name"
								placeholder="Search.." value="" ng-model="search.name">
						</div>
						<button type="submit" class="btn btn-default">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
						</button>
					</form>
				</div>
	
	
	
		<h3>
			<i class="fa fa-angle-right"></i> Surveys
		</h3>
		<div class="row mt">
		
				<div class="form-panel">

					<table ng-controller="surveyController"
						class="table table-bordered table-responsive active">
						<thead>
							<td>ID</td>
							<td>Name</td>
							<td>Status</td>
							<td>Type</td>
							<td>Actions</td>
						</thead>
						<tbody ng-repeat="survey in surveys| filter :search">
							<td>{{survey.surveyID}}</td>
							<td><a ui-sref="questions" ng-click="displaySurvey($index)">{{survey.surveyName}}</a></td>
							<td>{{survey.status}}</td>
							<td>{{survey.surveyType}}</td>
							<td><a href=""><i class="fa fa-trash-o"
									aria-hidden="true" ng-click="deleteSurvey(survey.surveyID)"></a></i>

								<a href=""><i class="fa fa-pencil-square-o"></i></a></td>
						</tbody>
					</table>


				</div>
			</div>
		</div>
		
	</section>
</section>












